* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightseagreen;
  font-family: Helvetica, sans-serif;
}

.board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  background-image: url(/images/grid.png);
  background-color: #fff;
  background-size: 100%;
  -webkit-background-size: 100%;
  border-radius: 3rem;
  box-shadow: 0 0 15px 5px rgba(50, 50, 50, .5);
}

.board:hover {
  cursor: pointer;
}

.circle,
.cross {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  background-image: url(/images/circle.png);
}

.cross {
  background-image: url(/images/cross.png);
}

.result {
  width: 250px;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.restart {
  padding: .7rem 1rem;
  background-color: yellowgreen;
  border: none;
  border-radius: .5rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: black;
  transition: all 1s ease;
}

.restart:hover {
  cursor: pointer;
  background-color: green;
}